<!DOCTYPE html>
<html>
<header>
    <title>Premier League</title>
    <link rel="stylesheet" href="/css/styles.css">
</header>

<body>
    <div class="main-content">
        <p>Search your team</p>
        <form>
            <input placeholder="Enter your team name">
            <button>Search</button>
        </form>
        <div>
            {{#each this}}
            {{#if team_name}}

            <p>Team: {{team_name}}</p>
            {{/if}}
            {{/each}}
        </div>
    </div>
    <script src="/client/js/app.js"></script>
</body>

</html>